#time {
        font-family: 'Orbitron', sans;
        margin-top: 75px;
        text-align: center;
}

#hours {
        font-size: 3em;
        display: inline;
}

#minutes {
        font-size: 3em;
        display: inline;
}

#seconds {
        font-size: 3em;
        display: inline;
}

