#time {
        font-family: 'Orbitron', sans;
        margin-top: 75px;
        text-align: center;
}

#hours {
        -webkit-text-stroke-width:2px;
        -webkit-text-stroke-color:silver;
        font-size: 3em;
        display: inline;
}

#minutes {
        -webkit-text-stroke-width:2px;
        -webkit-text-stroke-color:silver;
        font-size: 3em;
        display: inline;
}

#seconds {
        -webkit-text-stroke-width:2px;
        -webkit-text-stroke-color:silver;
        font-size: 3em;
        display: inline;
}

